!<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<footer class="container-fluid bg-main">
    <div class="d-flex container mt-5 justify-content-between align-items-center py-4 px-4">
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2024. All rights reserved.
        </div>
    
        <div>
          <a href="#!" class="text-white icon-box">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#!" class="text-white icon-box">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#!" class="text-white icon-box">
            <i class="fab fa-google"></i>
          </a>
          <a href="#!" class="text-white icon-box">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
    </div>
</footer>
</body>
</html>
